<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
   
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<servlet-class>com.mifinity.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreditCardController</servlet-name>
  	<servlet-class>com.mifinity.controller.CreditCardController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUpController</servlet-name>
  	<servlet-class>com.mifinity.controller.SignUpController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>com.mifinity.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreditCardListController</servlet-name>
  	<servlet-class>com.mifinity.controller.CreditCardListController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreditCardController</servlet-name>
  	<url-pattern>/CreditCardController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUpController</servlet-name>
  	<url-pattern>/SignUpController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreditCardListController</servlet-name>
  	<url-pattern>/CreditCardListController</url-pattern>
  </servlet-mapping>
</web-app>
